.container-fluid
    // template should be placed here
    .col-xs-12
        include ../blocks/headers/1/template
        div.space &nbsp;

    .col-xs-12
        include ../blocks/headers/2/template
        div.space &nbsp;

    .col-xs-12
        include ../blocks/headers/3/template
        div.space &nbsp;

    .col-xs-12
        include ../blocks/headers/4/template
        div.space &nbsp;
