link(rel='stylesheet', href='./css/headers/3/styling.css')

header(data-block="header" id="header-3")
    .row.text-center
        .punchline.col-xs-offset-2.col-xs-8
            h2.caption Lorizzle sheezy fo shizzle

        .brand-logo.col-xs-offset-2.col-xs-8
            a(href="https://github.com/kn9ts/start-to-gulp").image-logo
                img(alt="Site logo" src="./images/html5logos/white.png")
            a(href="https://github.com/kn9ts/start-to-gulp").company-name
                h2 LiteSpace Inc.

    .header-background
        img(src="https://unsplash.it/1080/720/?image=1033")
